---

- name: Clone hdev repository from GitHub
  ansible.builtin.git:
    repo: "https://github.com/fpgasystems/hdev.git"
    dest: "/opt/hdev"
    version: "{{ hdev_version }}"
    force: true

- name: Get the date for the specified version
  ansible.builtin.command: "git log -1 --format=%cI {{ hdev_version }}"
  args:
    chdir: "/opt/hdev"
  changed_when: false
  register: tag_commit_date

- name: Create the TAG file with the specified version
  ansible.builtin.copy:
    content: "{{ hdev_version }}"
    dest: "/opt/hdev/TAG"
    owner: root
    group: root
    mode: '0644'

- name: Create the TAG_DATE file with the date of the specified version
  ansible.builtin.copy:
    content: "{{ tag_commit_date.stdout }}"
    dest: "/opt/hdev/TAG_DATE"
    owner: root
    group: root
    mode: '0644'

- name: Enable bash completions for hdev
  ansible.builtin.file:
    src: "/opt/hdev/cli/hdev_completion.sh"
    dest: /usr/share/bash-completion/completions/hdev
    owner: root
    group: root
    mode: '0755'
    state: link

- name: Transform .sh scripts to programs without extension and set permissions
  block:
    - name: Find all .sh files in the target cli directory
      ansible.builtin.find:
        paths: "/opt/hdev/cli"
        patterns: "*.sh"
        excludes: "hdev_completion.sh"
        recurse: true
        hidden: true
      register: hdev_sh_files
    - name: Rename .sh scripts to programs without extension
      ansible.builtin.copy:
        src: "{{ item.path }}"
        dest: "{{ item.path | regex_replace('\\.sh$', '') }}"
        remote_src: true
        owner: root
        group: root
        mode: '0755'
      loop: "{{ hdev_sh_files.files }}"
      when: hdev_sh_files.matched > 0
    - name: Remove the .sh files
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ hdev_sh_files.files }}"
      when: hdev_sh_files.matched > 0

- name: Add hdev to system-wide PATH
  ansible.builtin.copy:
    dest: "/etc/profile.d/hdev.sh"
    content: 'PATH=$PATH:/opt/hdev/cli'

- name: Export CLI_PATH to environment variables
  ansible.builtin.lineinfile:
    path: "/etc/bash.bashrc"
    line: "export CLI_PATH=/opt/hdev/cli"
