---

- name: Clone hdev repository from GitHub
  ansible.builtin.git:
    repo: "https://github.com/fpgasystems/hdev.git"
    dest: "/opt/hdev"
    version: "{{ hdev_version }}"
    force: true

- name: Get the date for the specified version
  ansible.builtin.command: "git log -1 --format=%cI {{ hdev_version }}"
  args:
    chdir: "/opt/hdev"
  changed_when: false
  register: tag_commit_date

- name: Create the TAG file with the specified version
  ansible.builtin.copy:
    content: "{{ hdev_version }}"
    dest: "/opt/hdev/TAG"
    owner: root
    group: root
    mode: '0644'

- name: Create the TAG_DATE file with the date of the specified version
  ansible.builtin.copy:
    content: "{{ tag_commit_date.stdout }}"
    dest: "/opt/hdev/TAG_DATE"
    owner: root
    group: root
    mode: '0644'

- name: Enable bash completions for hdev
  ansible.builtin.file:
    src: "/opt/hdev/cli/hdev_completion.sh"
    dest: /usr/share/bash-completion/completions/hdev
    owner: root
    group: root
    mode: '0755'
    state: link

- name: Transform .sh scripts to programs without extension and set permissions
  block:
    - name: Find all .sh files in the target cli directory
      ansible.builtin.find:
        paths: "/opt/hdev/cli"
        patterns: "*.sh"
        excludes: "hdev_completion.sh"
        recurse: true
        hidden: true
      register: hdev_sh_files
    - name: Rename .sh scripts to programs without extension
      ansible.builtin.copy:
        src: "{{ item.path }}"
        dest: "{{ item.path | regex_replace('\\.sh$', '') }}"
        remote_src: true
        owner: root
        group: root
        mode: '0755'
      loop: "{{ hdev_sh_files.files }}"
      when: hdev_sh_files.matched > 0
    - name: Remove the .sh files
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ hdev_sh_files.files }}"
      when: hdev_sh_files.matched > 0

- name: Create a symlink to hdev in /usr/local/bin
  ansible.builtin.file:
    path: "/usr/local/bin/hdev"
    state: link
    src: "/opt/hdev/cli/hdev"
    owner: root
    group: root
    mode: '755'

- name: Export CLI_PATH to environment variables
  ansible.builtin.lineinfile:
    path: "/etc/profile.d/hdev.sh"
    regexp: '^export CLI_PATH='
    line: "export CLI_PATH=/opt/hdev/cli"
    create: true
    owner: root
    group: root
    mode: '0755'

- name: Enable running login.sh at login
  ansible.builtin.lineinfile:
    path: "/etc/profile.d/hdev.sh"
    regexp: '^sudo /opt/hdev/login/login.sh'
    line: 'sudo /opt/hdev/login/login.sh'

- name: Ensure config dir for hdev is present
  ansible.builtin.file:
    path: "{{ hdev_config_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0700'

- name: Export HDEV_CONFIG_DIR to environment variables
  ansible.builtin.lineinfile:
    path: "/etc/profile.d/hdev.sh"
    regexp: '^export HDEV_CONFIG_DIR='
    line: "export HDEV_CONFIG_DIR={{ hdev_config_dir }}"

- name: Ensure BMC credentials are present
  ansible.builtin.copy:
    content: |-
      #!/bin/bash

      export BMC_USERNAME="{{ hdev_bmc_username }}"
      export BMC_PASSWORD="{{ hdev_bmc_password }}"
    dest: "{{ hdev_config_dir }}/bmc-credentials.sh"
    owner: root
    group: root
    mode: '0700'
