---

###############################
# REFERENCES:                 #
###############################
#  Pre-installation:
#    - https://rocmdocs.amd.com/projects/install-on-linux/en/latest/install/prerequisites.html
#
#  Installation:
#    - https://rocmdocs.amd.com/projects/install-on-linux/en/latest/install/install-methods/package-manager/package-manager-ubuntu.html
#    - https://instinct.docs.amd.com/projects/amdgpu-docs/en/latest/install/detailed-install/package-manager/package-manager-ubuntu.html
#
#  Post-installation:
#    - https://rocmdocs.amd.com/projects/install-on-linux/en/latest/install/post-install.html
###############################

###############################
# TODO:
#   - Add Cleanup
#   - Cleanup the code
###############################

# USER INPUT VALIDATION
- name: User input validation
  ansible.builtin.include_tasks: ./input-validation.yml

# PRE-INSTALLATION
- name: Install prerequisite python modules
  ansible.builtin.apt:
    name:
      - "python3-setuptools"
      - "python3-wheel"

- name: Install module command for multi version management
  ansible.builtin.apt:
    name: "environment-modules"

- name: Setup udev rules to allow users of a group to access to the GPU
  ansible.builtin.copy:
    content: |-
      KERNEL=="kfd", GROUP:="{{ rocm_device_group }}", MODE:="0660"
      SUBSYSTEM=="drm", KERNEL=="renderD*", TAG-="uaccess", GROUP:="{{ rocm_device_group }}", MODE:="0660"
    dest: /etc/udev/rules.d/99-amdgpu.rules
    owner: root
    group: root
    mode: '0644'
  notify: Reload udev rules

- name: Remove old installations
  ansible.builtin.include_tasks: ./remove.yml


# INSTALLATION

# NOTE: if the version ends in `.0`, then this needs to be removed for the repository.
# For example: for version 7.1.0, the repository name is 7.1,
# but for 7.1.3, the repo is still 7.1.3
- name: Add ROCm repos to apt using gpg key
  ansible.builtin.deb822_repository:
    name: "rocm{{ version }}"
    types: [deb]
    suites: '{{ ansible_distribution_release }}'
    components: main
    architectures: amd64
    uris: "https://repo.radeon.com/rocm/apt/{{ version | regex_replace('\\.0$', '') }}"
    signed_by: https://repo.radeon.com/rocm/rocm.gpg.key
    state: present
    enabled: true
  loop: "{{ rocm_versions }}"
  loop_control:
    loop_var: version
  notify: Update apt packages

- name: Add AMD gpu kernel repos to apt using gpg key
  when: rocm_amdgpu_kernel_version
  ansible.builtin.deb822_repository:
    name: amdgpu
    types: [deb]
    suites: '{{ ansible_distribution_release }}'
    components: main
    architectures: amd64
    uris: "https://repo.radeon.com/amdgpu/{{ version | regex_replace('\\.0$', '') }}/ubuntu"
    signed_by: https://repo.radeon.com/rocm/rocm.gpg.key
    state: present
    enabled: true
  vars:
    version: "{{ rocm_amdgpu_kernel_version }}"
  notify: Update apt packages

# Set the APT priority higher than the default Ubuntu packages
# <100: never install automatically, 100: default for installed packages,
# 500: default for unpinned repos, 1000+ force install even if it means downgrade
# You can check if the priority is set correctly using 'apt-cache policy'
- name: Make ROCm repos preferred
  ansible.builtin.copy:
    content: |-
      Package: *
      Pin: release o=repo.radeon.com
      Pin-Priority: 600
    dest: /etc/apt/preferences.d/rocm-pin-600
    owner: root
    group: root
    mode: '0750'
  notify: Update apt packages

# sudo apt update
- name: Update apt packages if ROCm sources changed
  ansible.builtin.meta: flush_handlers

# Install kernel driver
- name: Install amdgpu kernel driver
  ansible.builtin.apt:
    name: amdgpu-dkms
    state: "{{ 'present' if rocm_amdgpu_kernel_version else 'absent' }}"
    allow_downgrade: true
  notify: Reboot system

# Reboot
- name: Reboot the system if a new amd gpu kernel is installed
  ansible.builtin.meta: flush_handlers


# Install Rocm
- name: Install full ROCm suite for all selected versions
  ansible.builtin.apt:
    name: "rocm{{ version }}"
    state: present
  loop: "{{ rocm_versions }}"
  loop_control:
    loop_var: version

# TODO: add logic to allow selection of packages
# - name: Install only ROCm build toolchain for the selected versions
#   ansible.builtin.apt:
#     name:
#       - "rocm-developer-tools{{ version }}"
#       - "rocm-hip-runtime-devel{ version }}"
#       - "rocm-hip-sdk{{ version }}"
#       - "rocm-ml-sdk{{ version }}"
#       - "rocm-opencl-sdk{{ version }}"
#       - "rocm-openmp-sdk{{ version }}"
#     state: present
#   loop: "{{ rocm_versions }}"
#   loop_control:
#     loop_var: version
#
# - name: Install only ROCm runtime for the selected versions
#   ansible.builtin.apt:
#     name:
#       - "rocm-developer-tools{{ version }}"
#       - "rocm-hip-libraries{ version }}"
#       - "rocm-hip-runtime{{ version }}"
#       - "rocm-ml-libraries{{ version }}"
#       - "rocm-opencl-runtime{{ version }}"
#       - "rocm-language-runtime{{ version }}"
#     state: present
#   loop: "{{ rocm_versions }}"
#   loop_control:
#     loop_var: version


# POST INSTALLATION
- name: Configure the system linker to find the ROCm shared objects path
  ansible.builtin.copy:
    content: |-
      /opt/rocm/lib
      /opt/rocm/lib64
    dest: /etc/ld.so.conf.d/rocm.conf
    owner: root
    group: root
    mode: '0750'
  notify: Reload system linker

- name: Update GRUB boot options to enable strict mode
  ansible.builtin.copy:
    content: >-
      GRUB_CMDLINE_LINUX="amd_iommu=force_isolation
      iommu=nopt
      dyndbg='module amdgpu +p; module iommu_v2 +p; module iommu_v1 +p; module iommufd +p'"
    dest: /etc/default/grub.d/99-rocm-strict-mode.cfg
    owner: root
    group: root
    mode: '0644'
  when: rocm_strict_mode
  notify: Update GRUB

- name: Disable strict mode
  ansible.builtin.file:
    path: /etc/default/grub.d/99-rocm-strict-mode.cfg
    state: absent
  when: not rocm_strict_mode
  notify: Update GRUB
