---

- name: Create bash profile
  ansible.builtin.file:
    path: "/etc/profile.d/vivado.sh"
    state: present
    owner: root
    group: root
    mode: '0755'

- name: Setup License servers environment variable
  ansible.builtin.lineinfile:
    path: "/etc/profile.d/vivado.sh"
    regexp: '^export XILINXD_LICENSE_FILE='
    line: "export XILINXD_LICENSE_FILE={{ fpga_toolchain_license_servers | join(':') }}"
  when: fpga_toolchain_license_servers | length > 0

- name: Add vivado dir in modulefiles dir
  ansible.builtin.file:
    path: /usr/share/modules/modulefiles/vivado
    state: directory

- name: Generate modulefiles from template
  ansible.builtin.template:
    src: modulefile.j2
    dest: "/usr/share/modules/modulefiles/vivado/{{ release }}"
    owner: root
    group: root
    mode: '0755'
  loop: "{{ installed_releases }}"
  vars:
    release: item.release

- name: Manage vivado module loading based on number of installed releases
  ansible.builtin.lineinfile:
    path: /etc/profile.d/vivado.sh
    regexp: '^module load vivado'
    line: "module load vivado/{{ (installed_releases | first).release }}"
    state: "{{ 'present' if installed_releases | length == 1 else 'absent' }}"
