---

- name: Set bash environment
  when:
    - installed_releases | length | int == 1
    - fpga_toolchain_set_bash_environment_variables
  block:
    - name: Load release options
      ansible.builtin.set_fact:
        release: "{{ (installed_releases | first)['release'] }}"

    - name: Create profile for including bash environment for Vivado/Vitis/Model_composer/etc.
      ansible.builtin.lineinfile:
        path: /etc/profile.d/vivado.sh
        regexp: '^source {{ fpga_toolchain_install_path }}/[^/]+/[^/]+/settings64.sh'
        line: 'source {{ fpga_toolchain_install_path
               | fpga_systems.hacc.tools_path(release, "Vivado") }}/settings64.sh'
        state: present
        owner: root
        group: root
        mode: '0755'
        create: true

    - name: Setup License servers environment variable
      ansible.builtin.lineinfile:
        path: "/etc/profile.d/vivado.sh"
        regexp: '^export XILINXD_LICENSE_FILE='
        line: "export XILINXD_LICENSE_FILE={{ fpga_toolchain_license_servers | join(':') }}"
      when: fpga_toolchain_license_servers | length > 0


- name: "INFO: `set_bash_environment_variables: true` is ignored"
  ansible.builtin.debug:
    msg: >-
      fpga_toolchain_set_bash_environment_variables is set to true,
      but this is ignored as there are more than one releases defined in
      the fpga_toolchain_releases variable. Only one version can be actived
      at a time. Use a tool like `hdev` or `module` to manage multiple versions.
  when:
    - installed_releases | length > 1
    - fpga_toolchain_set_bash_environment_variables

# Make sure /etc/bash.bashrc does not contain any sourcing for Vivado
- name: Delete all bash entries from general /etc/bash.bashrc
  ansible.builtin.lineinfile:
    path: /etc/bash.bashrc
    regexp: >-
      ^source {{ fpga_toolchain_install_path
      }}/[^/]+/[^/]+/settings64.sh$
    state: absent

- name: Delete bash variables profile for Vivado/Vitis/Model_Composer/etc.
  ansible.builtin.file:
    path: /etc/profile.d/vivado.sh
    state: absent
  when: >-
    not fpga_toolchain_set_bash_environment_variables or
    (installed_releases | length > 1)
