---

## Note: from release 2025.1 onwards, the installation layout changed.
#   Up to 2024.2, the directory for a specific release was inside the directory for the
#   program (eg. <install_path>/Vivado/2024.2)
#
#   From 2025.1 onwards, all program directories are in a release directory
#   (eg. <install_path>/2025.1/Vivado)
##

# TODO: use {{ fpga_toolchain_install_path }}/.xinstall/<release>/xsetup -b Uninstall instead

- name: "[{{ release }}] Remove program files for releases <= 2024.2"
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ fpga_toolchain_install_path }}/Vivado/{{ release }}"
    - "{{ fpga_toolchain_install_path }}/Vitis_HLS/{{ release }}"
    - "{{ fpga_toolchain_install_path }}/Vitis/{{ release }}"
    - "{{ fpga_toolchain_install_path }}/Model_Composer/{{ release }}"
  when: (release.split('.')[0] | int) <= 2024

- name: "[{{ release }}] Remove program files for releases >=2025.1"
  ansible.builtin.file:
    path: "{{ fpga_toolchain_install_path }}/{{ release }}"
    state: absent
  when: (release.split('.')[0] | int) >= 2025

- name: "[{{ release }}] Remove module loading"
  ansible.builtin.lineinfile:
    path: /etc/profile.d/vivado.sh
    regexp: "module load vivado/{{ release }}"
    state: absent

- name: Remove module file for this release
  ansible.builtin.file:
    path: "/usr/share/modules/modulefiles/vivado/{{ release }}"
    state: absent

- name: "[{{ release }}] Update gathered disk facts"
  ansible.builtin.setup:
    gather_subset:
      - hardware
