---

- name: Get newest release
  ansible.builtin.set_fact:
    vivado_newest_release: >-
      {{
        (vivado_releases | fpga_systems.hacc.get_newest_release)['release']
      }}

- name: Enable JTAG
  when: vivado_enable_jtag
  block:
    - name: Install udev rules for JTAG
      ansible.builtin.copy:
        remote_src: true
        src: >-
          {{
            vivado_install_path
            | fpga_systems.hacc.tools_path(vivado_newest_release, "Vivado")
          }}/data/xicom/cable_drivers/lin64/install_script/install_drivers/{{ item }}
        dest: "/etc/udev/rules.d/{{ item }}"
        owner: root
        group: root
        mode: '0644'
      loop:
        - 52-xilinx-digilent-usb.rules
        - 52-xilinx-pcusb.rules
      notify: Reload udev rules

    - name: Install ftdi-usb udev rule with secured JTAG access limited to a group
      fpga_systems.hacc.copy_with_lineinfile:
        src: >-
          {{
            vivado_install_path
            | fpga_systems.hacc.tools_path(vivado_newest_release, "Vivado")
          }}/data/xicom/cable_drivers/lin64/install_script/install_drivers/{{ item }}
        dest: "/etc/udev/rules.d/{{ item }}"
        owner: root
        group: root
        mode: '0644'
        regexp: '^ACTION=="add", ATTRS\{idVendor\}=="0403"'
        line: >-
          SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{manufacturer}=="Xilinx",
          MODE:="664", GROUP:="{{ vivado_jtag_group }}"
      loop:
        - 52-xilinx-ftdi-usb.rules
      notify: Reload udev rules

- name: Disable JTAG
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  when: not vivado_enable_jtag
  loop:
    - /etc/udev/rules.d/52-xilinx-ftdi-usb.rules
    - /etc/udev/rules.d/52-xilinx-digilent-usb.rules
    - /etc/udev/rules.d/52-xilinx-pcusb.rules
