---

- name: Power on Supermicro system
  delegate_to: localhost
  community.general.redfish_command:
    baseuri: "{{ powerstate_bmc_url }}"
    username: "{{ powerstate_bmc_username }}"
    password: "{{ powerstate_bmc_password }}"
    category: Systems
    command: PowerOn
