#%Module1.0#####################################################################
##
## Vivado {{ release }} modulefile
##

proc ModulesHelp { } {
    puts stderr "Vivado {{ release }} FPGA design suite"
}

module-whatis "Vivado {{ release }} FPGA design suite"

# Prevent loading multiple Vivado versions at once
conflict vivado

# Vivado installation root
set vivado_root {{ fpga_toolchain_install_path | fpga_systems.hacc.tools_path(release, "Vivado") }}

# Source Xilinx setup script
source-sh bash $vivado_root/settings64.sh
