---

- name: Wait for host to be able to start an ssh connection
  ansible.builtin.wait_for_connection:
    delay: 30
    sleep: 5
    timeout: 900

- name: Verify SSH is truly ready
  delegate_to: localhost
  vars:
    ssh_user: root
  block:
    - name: Try to execute a command via SSH
      ansible.builtin.command: >
        ssh -o BatchMode=yes -o ConnectTimeout=10
            -o StrictHostKeyChecking=no
            {{ ssh_user }}@{{ inventory_hostname }} "echo ok"
      register: ssh_test
      retries: 5
      delay: 10
      until: ssh_test.rc == 0
      failed_when: ssh_test.rc != 0
      changed_when: false
