---

##
# Parameters:
#   - `fpga_toolchain_release`:        Object containing install info: release, vivado_only, update_level (required)

# FACTS GATHERING

- name: "[{{ fpga_toolchain_release.release }}] Load release options"
  ansible.builtin.set_fact:
    release: "{{ fpga_toolchain_release.release }}"
    vivado_only: "{{ fpga_toolchain_release.vivado_only }}"
    update_level: "{{ fpga_toolchain_release.update_level }}"

- name: "[{{ release }}] Set AMD Toolchain facts"
  ansible.builtin.set_fact:
    fpga_toolchain_package: >-
      {{ fpga_toolchain_packages[release]['archive'][update_level]['package'] }}
    fpga_toolchain_archive_extention: >-
      {{ fpga_toolchain_packages[release]['archive'][update_level]['extention'] }}
    fpga_toolchain_archive_checksum: >-
      {{ fpga_toolchain_packages[release]['archive'][update_level]['checksum_md5'] }}
    fpga_toolchain_prerequisites: >-
      {{ fpga_toolchain_packages[release]['prerequisites'] }}

- name: "[{{ release }}] Set archive name fact"
  ansible.builtin.set_fact:
    fpga_toolchain_archive: >-
      {{ fpga_toolchain_package }}{{ fpga_toolchain_archive_extention }}

- name: "[{{ release }}] Set tools archive extraction path"
  ansible.builtin.set_fact:
    fpga_toolchain_extraction_path: >-
      {{ fpga_toolchain_download_path }}/{{ release }}
    fpga_toolchain_archive_path: >-
      {{ fpga_toolchain_download_path }}/{{ release }}/{{ fpga_toolchain_archive }}


# CHECK ARCHIVE

- name: "[{{ release }}] Check if the tools archive needs to be extracted"
  ansible.builtin.stat:
    path: "{{ fpga_toolchain_extraction_path }}/{{ fpga_toolchain_package }}"
  register: fpga_toolchain_extraction_stats

- ansible.builtin.debug:
    msg: >-
      [INFO] Archive precense assertions will be skipped, because the tools have already
      been extracted. Allowing users to remove the archive if desired.
  when: fpga_toolchain_extraction_stats.stat.exists

- name: "[{{ release }}] Extraction directory does not yet exist"
  when: not fpga_toolchain_extraction_stats.stat.exists
  block:
    - name: "[{{ release }}] Check if the tools archive has already been downloaded"
      ansible.builtin.stat:
        path: "{{ fpga_toolchain_archive_path }}"
        checksum_algorithm: md5
        get_checksum: true
      register: fpga_toolchain_archive_stats

    - name: "[{{ release }}] Assert that the archive is available"
      ansible.builtin.assert:
        that:
          - fpga_toolchain_archive_stats.stat.exists
        fail_msg: >-
          [ERROR] Can't find the AMD tools archive: {{ fpga_toolchain_archive_path }}.
          Please download it from
          https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/vitis.html

    - name: "[{{ release }}] Assert that the checksum of the archive is correct"
      ansible.builtin.assert:
        that:
          - fpga_toolchain_archive_stats.stat.checksum == fpga_toolchain_archive_checksum
        fail_msg: >-
          [ERROR] Checksum of archive file does not correspond to expected md5 checksum:
          {{ fpga_toolchain_archive_path }}. The file might have been tampered with.
          Please download the correct version from
          https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/vitis.html


# EXTRACTION

- ansible.builtin.debug:
    msg: >-
      [INFO] Extraction will be skipped, because the tools have already been extracted.
      If you want to redo the extraction, make sure that the archive
      `{{ fpga_toolchain_archive_path }}` exists, and the extracted archive at
      location `{{ fpga_toolchain_extraction_path }}/{{ fpga_toolchain_package }}` is deleted.
  when: fpga_toolchain_extraction_stats.stat.exists

- when:
    - not fpga_toolchain_extraction_stats.stat.exists
  block:
    - name: "[{{ release }}] Ensure Vivado archive extraction directory exists"
      ansible.builtin.file:
        path: "{{ fpga_toolchain_extraction_path }}/{{ fpga_toolchain_package }}"
        state: directory

    - name: "[{{ release }}] Extract Vivado archive (100+ GB file, may take a while...)"
      ansible.builtin.unarchive:
        src: "{{ fpga_toolchain_archive_path }}"
        dest: "{{ fpga_toolchain_extraction_path }}"
        remote_src: true
        extra_opts: "--no-same-owner"


# INSTALL

- name: "[{{ release }}] Install prerequisite packages"
  ansible.builtin.package:
    name: "{{ fpga_toolchain_prerequisites }}"
    state: present

- name: "[{{ release }}] Ensure Vivado install directory exists"
  ansible.builtin.file:
    path: "{{ fpga_toolchain_install_path }}"
    state: directory

- name: "[{{ release }}] Ensure config directory exists for the {{ release }} release"
  ansible.builtin.file:
    path: "/root/.Xilinx/{{ release }}"
    state: directory

- name: "[{{ release }}] Generate AMD tools configuration file"
  ansible.builtin.expect:
    command: >-
      ./xsetup --batch ConfigGen
      --location {{ fpga_toolchain_install_path }}
      --product '{% if vivado_only %}Vivado{% else %}Vitis{% endif %}'
    responses:
      "Please choose: ":
        - "1"
  args:
    chdir: "{{ fpga_toolchain_extraction_path }}/{{ fpga_toolchain_package }}"

- name: "[{{ release }}] Copy install_config to release directory"
  ansible.builtin.copy:
    src: /root/.Xilinx/install_config.txt
    dest: "/root/.Xilinx/{{ release }}/install_config.txt"
    remote_src: true

- name: "[{{ release }}] Edit install config"
  ansible.builtin.include_tasks: edit-install-config.yml
  vars:
    config_path: "/root/.Xilinx/{{ release }}/install_config.txt"

- name: "[{{ release }}] Install tools (usually takes about 30 min, but can take up to 6 hours...)"
  ansible.builtin.command: >-
    ./xsetup --batch Install
    --config /root/.Xilinx/{{ release }}/install_config.txt
    --agree XilinxEULA,3rdPartyEULA
  args:
    chdir: "{{ fpga_toolchain_extraction_path }}/{{ fpga_toolchain_package }}"
  vars:
    # wait up to 6 hours
    ansible_command_timout: 21600
    ansible_ssh_timout: 21600
