---

## Expected variables:
#   xrt_device: the name of the fpga device as defined in the xrt_packages
#   xrt_release: the release of the XRT deployment package

- name: Gather Deployment target to install
  ansible.builtin.set_fact:
    xrt_device_release: >-
      {{
        xrt_packages[xrt_release]['boards']
        | selectattr('name', 'eq', xrt_device)
        | list | first
      }}

- name: Setup facts
  ansible.builtin.set_fact:
    xrt_deployment_packages: "{{
        xrt_device_release.deployment.packages
      }}"
    xrt_deployment_packages_dirname: "{{
        xrt_device_release.deployment.archive
        | regex_search('^.+?\\.deb')
      }}"

- name: Ensure extraction directory for board packages exists
  ansible.builtin.file:
    path: "{{ xrt_download_path }}/boards/{{ xrt_deployment_packages_dirname }}"
    state: directory

- name: Extract board deployment packages
  ansible.builtin.unarchive:
    src: "{{ xrt_download_path }}/boards/{{ xrt_device_release['deployment']['archive'] }}"
    dest: "{{ xrt_download_path }}/boards/{{ xrt_deployment_packages_dirname }}"
    remote_src: true

- name: Install board deployment packages
  ansible.builtin.apt:
    deb: "{{ xrt_download_path }}/boards/{{ xrt_deployment_packages_dirname }}/{{ package }}"
    state: present
  loop: "{{ xrt_deployment_packages }}"
  loop_control:
    loop_var: package
