---

# LOAD VARIABLES

- name: "Load the amd packages dictionary for the target distribution"
  ansible.builtin.include_vars: >-
    xrt-packages-{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml

- name:
  ansible.builtin.deb822_repository:
    name: xilinx_xrt
    types: [deb]
    uris: https://packages.xilinx.com/artifactory/debian-packages
    suites: "{{ ansible_lsb.codename }}"
    components: [main]
    architectures: [amd64]
    signed_by: https://www.xilinx.com/support/download/2020-2/xilinx-master-signing-key.asc
    state: present
    enabled: true
  notify: Update apt cache

# USER INPUT VALIDATION

- name: Check the given xrt_device
  ansible.builtin.assert:
    that:
      - xrt_devices | ansible.builtin.difference(xrt_supported_devices) | length == 0
    fail_msg: >-
      Unsupported devices in 'xrt_devices'. Supported devices are: {{ xrt_supported_devices }}

- name: Assert that there are no duplicate devices in the xrt_devices variable
  ansible.builtin.assert:
    that:
      - (xrt_devices | unique | length) == (xrt_devices | length)
    fail_msg: >-
      Multiple definitions of the same device detected in the xrt_devices variable!
      Please define each device only once.

# DETERMINE WHAT NEEDS TO BE DONE
- name: Gather directories of currently installed XRT releases
  ansible.builtin.find:
    paths:
      - "{{ xrt_install_path }}"
    file_type: directory
  register: xrt_found_dirs

- name: Determine for which releases XRT is already present
  ansible.builtin.set_fact:
    xrt_releases_with_xrt_dir_present: >-
      {{
        xrt_found_dirs.files
        | map(attribute='path')
        | select("match", xrt_install_path + "/\d{4}\.\d")
        | map('regex_search', '(\d{4}\.\d)')
        | list
        | unique
      }}

- name: Determine what to do for each release
  ansible.builtin.set_fact:
    xrt_releases_to_install: >-
      {{
        xrt_releases_normalized
        | selectattr('state', 'eq', 'present')
        | rejectattr('release', 'in', xrt_releases_with_xrt_dir_present)
        | map(attribute='release')
        | list
      }}
    xrt_releases_to_uninstall: >-
      {{
        xrt_releases_normalized
        | selectattr('state', 'eq', 'absent')
        | map(attribute='release')
        | list
      }}
    xrt_releases_already_correct: >-
      {{
        xrt_releases_normalized
        | selectattr('state', 'eq', 'present')
        | selectattr('release', 'in', xrt_releases_with_xrt_dir_present)
        | map(attribute='release')
        | list
      }}

- name: Mark dangling releases for uninstallation
  ansible.builtin.set_fact:
    xrt_releases_to_uninstall: >-
      {{
        (xrt_releases_to_uninstall + xrt_releases_with_xrt_dir_present)
        | reject('in', xrt_releases_to_install + xrt_releases_already_correct)
        | list
        | unique
      }}
  when: xrt_uninstall_dangling_releases

- name: Print overview of what needs to be done
  ansible.builtin.debug:
    msg: "{{ xrt_state_overview.splitlines() }}"
  vars:
    xrt_state_overview: |-
      releases with xrt already present:  {{ xrt_releases_with_xrt_dir_present }}
      releases requested to be present:   {{ xrt_releases_normalized
        | selectattr('state', 'eq', 'present')
        | map(attribute='release')
        | list
      }}
      releases requested to be absent:    {{
        xrt_releases_normalized
        | selectattr('state', 'eq', 'absent')
        | map(attribute='release')
        | list
      }}
      ===========================================================================
      releases already correct:           {{ xrt_releases_already_correct }}
      releases to install:                {{ xrt_releases_to_install }}
      releases to uninstall:              {{ xrt_releases_to_uninstall }}


# REMOVE XRT

- name: Uninstall XRT releases
  ansible.builtin.file:
    path: "{{ xrt_install_path }}/{{ release }}"
    state: absent
  loop: "{{ xrt_releases_to_uninstall }}"
  loop_control:
    loop_var: release

- name: Remove XRT setup script to global .bashrc
  ansible.builtin.lineinfile:
    path: /etc/profile.d/xrt.sh
    regexp: "^source {{ xrt_install_path }}/{{ xrt_release }}/opt/xilinx/xrt/setup.sh"
    state: absent
  loop: "{{ xrt_releases_to_uninstall }}"
  loop_control:
    loop_var: xrt_release

# INSTALL XRT

- name: Install XRT
  ansible.builtin.include_tasks: ./xrt-install.yml
  loop: >-
    {{
      xrt_releases
      | selectattr('release', 'in', xrt_releases_to_install)
    }}
  loop_control:
    loop_var: xrt_release

# POST INSTALL

- name: Add XRT setup script to bash profile
  ansible.builtin.lineinfile:
    path: /etc/profile.d/xrt.sh
    line: "source {{ xrt_install_path }}/{{ xrt_release }}/opt/xilinx/xrt/setup.sh"
    regexp: '^source .*/opt/xilinx/xrt/setup.sh'
    create: true
    owner: root
    group: root
    mode: '0755'
  vars:
    xrt_release: >-
      {{ ((xrt_releases_already_correct + xrt_releases_to_install) | first) }}
  when:
    - xrt_set_bash_environment_variables
    - (xrt_releases_already_correct + xrt_releases_to_install ) | length == 1

- name: Remove XRT setup script from bash profile
  ansible.builtin.lineinfile:
    path: /etc/profile.d/xrt.sh
    regexp: '^source .*/opt/xilinx/xrt/setup.sh'
    state: absent
  when: >-
    not xrt_set_bash_environment_variables or
    (xrt_releases_already_correct + xrt_releases_to_install ) | length != 1

# DETERMINE WHICH DEPLOYMENT/DEVELOPMENT TARGETS TO INSTALL

- name: Select which Deployment and Development target need to be installed
  ansible.builtin.set_fact:
    xrt_deployment_target_to_install: >-
      {{
        (xrt_releases_to_install + xrt_releases_already_correct)
        | fpga_systems.hacc.xrt_pick_target(xrt_deployment_target)
      }}
    xrt_development_target_to_install: >-
      {{
        (xrt_releases_to_install + xrt_releases_already_correct)
        | fpga_systems.hacc.xrt_pick_target(xrt_development_target)
      }}

# REMOVE DEPLOYMENT TARGETS

- name: Remove XRT deployment targets
  ansible.builtin.include_tasks: ./deployment-remove.yml
  loop: "{{ xrt_releases_to_uninstall }}"
  loop_control:
    loop_var: xrt_release

# REMOVE DEVELOPMENT TARGETS

- name: Remove XRT development targets
  ansible.builtin.include_tasks: ./development-remove.yml
  loop: "{{ xrt_releases_to_uninstall }}"
  loop_control:
    loop_var: xrt_release

# INSTALL DEPLOYMENT TARGETS
- name: Install XRT deployment targets
  include_tasks: ./deployment-install.yml
  loop: "{{ xrt_devices }}"
  loop_control:
    loop_var: xrt_device
  vars:
    xrt_release: "{{ xrt_deployment_target_to_install }}"
  when: xrt_deployment_target_to_install != ""

# INSTALL DEVELPOMENT TARGETS
- name: Install XRT development targets
  include_tasks: ./development-install.yml
  loop: "{{ xrt_devices }}"
  loop_control:
    loop_var: xrt_device
  vars:
    xrt_release: "{{ xrt_development_target_to_install }}"
  when: xrt_development_target_to_install != ""
