---

# Block installation if AVED is installed
- name: Check if 'ami' package is installed using apt
  ansible.builtin.command: apt list --installed
  register: xrt_apt_list
  changed_when: false

- name: Fail if 'ami' is installed
  ansible.builtin.fail:
    msg: >-
      'ami' package is installed.
      Please remove it before continuing.
      AVED and XRT are mutually exclusive
  when: xrt_apt_list.stdout is search("ami/")

# LOAD VARIABLES

- name: "Load the amd packages dictionary for the target distribution"
  ansible.builtin.include_vars: >-
    xrt-packages-{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml

- name: Add Xilinx XRT repositories to apt
  ansible.builtin.deb822_repository:
    name: xilinx_xrt
    types: [deb]
    uris: https://packages.xilinx.com/artifactory/debian-packages
    suites: "{{ ansible_lsb.codename }}"
    components: [main]
    architectures: [amd64]
    signed_by: https://www.xilinx.com/support/download/2020-2/xilinx-master-signing-key.asc
    state: "{{ 'present' if xrt_use_official_package_repo else 'absent' }}"
    enabled: "{{ true if xrt_use_official_package_repo else false }}"
  notify: Update apt cache

# USER INPUT VALIDATION

- name: Validate xrt_release format
  ansible.builtin.assert:
    that:
      - xrt_release is match('^\\d{4}\\.\\d+$') or xrt_release is match('^2\\.\\d+\\.\\d+$')
    fail_msg: "Invalid xrt_release format: '{{ xrt_release }}'. Must be 'YYYY.X' or '2.AA.BBB'."

- name: Check the given xrt_device
  ansible.builtin.assert:
    that:
      - xrt_devices | ansible.builtin.difference(xrt_supported_devices) | length == 0
    fail_msg: >-
      Unsupported devices in 'xrt_devices'. Supported devices are: {{ xrt_supported_devices }}

- name: Assert that there are no duplicate devices in the xrt_devices variable
  ansible.builtin.assert:
    that:
      - (xrt_devices | unique | length) == (xrt_devices | length)
    fail_msg: >-
      Multiple definitions of the same device detected in the xrt_devices variable!
      Please define each device only once.

# INSTALL XRT
- name: Get current XRT installed version
  ansible.builtin.command: dpkg-query -W -f='${Version}' xrt
  register: xrt_before_version
  failed_when: false
  changed_when: false

- name: Set xrt_version variable
  ansible.builtin.set_fact:
    xrt_version: "{{ xrt_packages[xrt_release] | default('unknown') if
      xrt_release is match('^\\d{4}\\.\\d+$') else xrt_release }}"
    xrt_before_version: "{{ xrt_before_version.stdout if xrt_before_version.rc == 0 else 'none' }}"

- name: Install XRT
  ansible.builtin.apt:
    name: "xrt={{ xrt_version }}"
    state: present
    allow_downgrade: true

- name: Install Deployment Target
  ansible.builtin.apt:
    name: "{{ xrt_deployment_packages_to_install }}"
    state: "{{ 'present' if xrt_deployment_targets else 'absent' }}"
    allow_downgrade: true
  loop: "{{ xrt_devices }}"
  loop_control:
    loop_var: device
  vars:
    xrt_deployment_packages_to_install: "{{ xrt_deployment_packages[device]
    | fpga_systems.hacc.xrt_get_packages(xrt_version) }}"

# TODO: add the development files to a local repo
- name: Install Development Target
  block:
    - name: Try to install Development targets
      ansible.builtin.apt:
        name: "{{ xrt_development_packages_to_install }}"
        state: "{{ 'present' if xrt_development_targets else 'absent' }}"
        allow_downgrade: true
      loop: "{{ xrt_devices }}"
      loop_control:
        loop_var: device
      vars:
        xrt_development_packages_to_install: "{{ xrt_development_packages[device]
        | fpga_systems.hacc.xrt_get_packages(xrt_version) }}"
  rescue:
    - name: Failed to install Development targets
      ansible.builtin.fail:
        msg: >-
          Failed to install development package.
          Development packages are not in the official repo, so you need to
          serve them using your own package repository. See the README for instructions


# POST INSTALL

- name: Add XRT setup script to bash profile
  ansible.builtin.lineinfile:
    path: /etc/profile.d/xrt.sh
    line: "source /opt/xilinx/xrt/setup.sh"
    regexp: '^source .*/opt/xilinx/xrt/setup.sh'
    create: true
    owner: root
    group: root
    mode: '0755'
    state: "{{ 'present' if xrt_set_bash_environment_variables else 'absent' }}"
